/* XTheHall Styles */
body {
	padding-top: 60px;
}

.accessibility {
    font-size: 200%;
}

p.accessibility {
    font-size: 150%;
}

.nav-icon {
    font-size: 24px;
}

#chatArea {
    padding-bottom: 70px;
}

.chat {
	padding-bottom:60px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;

	/*padding: 10px;*/
	/*border-radius: 5px;*/
	/*color: #fff;*/
	/*margin: 10px auto;*/
}

.incoming {
    color: gray;
    background: #ecf0f1;
    box-shadow: 0 0 0 2pt #bdc3c7;
}

.outgoing {
    color: white;
    background: #3498db;
    box-shadow: 0 0 0 2pt #2980b9;
}

.message p {
	margin: 0px;
}

.incoming .user {
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
}

.incoming .user .timestamp {
    float: right;
    font-size: 14px;
    line-height: 30px;
}

footer {
	position: fixed;
	height: 70px;
	bottom: 0;
	width:100%;
	background-color:#f5f5f5;
	padding: 15px;
}

.message-box button {
	width: 100%;
}

/* MAIN */
.count-bubble span {
    background: #E74C3C;
    position: absolute;
    top: -15px;
    Right: -15px;
    min-width:30px;
    height: 30px;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 0 2pt #C0392B;
}

div.message-title {
    max-width: 180px;
    margin: 0 10px 0 10px;
}

div.message-title span {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.message-preview {
    margin: 5px 5px 0 5px;
    text-align: center;
    max-height: 100px;
    min-height: 100px;
    padding: 5px;
    border-radius: 25px;
    background: #F1C40F;
    box-shadow: 0 0 0 2pt #F39C12;
}

div.message-preview span {
    color: white;
    display:block;
    max-height: 90px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.chat-id-timestamp {
    position: absolute;
    bottom: 7px;
    left: 10px;
    color: gray;
    font-size: 12px;
}

div.chat-id-pic {
    width: 44px;
    height: 44px;
    background-image: url("../images/SmallLogo1.png");
    background-size: 44px 44px;
    border-radius: 50%;
    position: absolute;
    bottom: 7px;
    right: 7px;
    box-shadow: 0 0 0 1pt #bdc3c7;
}

.thumbnail {
    position: relative;
    /*min-height: 220px;*/
    height: 220px;
    /*min-width: 220px;*/
    width: 220px;
}

h4.page-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

ul#main-topic-list {
    padding-left: 3px;
}

#main-topic-list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding-left: -20px;
}

.form-signin
{
    max-width: 330px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input
{
    margin-bottom: 10px;
}

.login-pane
{
    margin-top: 40px;
    padding: 40px 0 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 0 1pt #bdc3c7;
}

.logo
{
    width: 300px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
}

#create-account-btn {
    margin-top: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#showDeleteModalButton {
    margin-left: 10px;
}

span.form-error {
    color: #c0392b;
}

span.form-save {
    color: #27ae60
}

/* Find Page Styles */
#container {
    text-align: center;
    margin: 8em 3em;
}


    .thumbnail {
    margin:30px;


}

.box    {  width:150px;
           height:150px;
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin-left:30px;
          margin-right:30px;
          margin-top:0px;
          margin-bottom:0px;
  background-size:cover;
border-radius:5px;
overflow:hidden;}

.overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:50px 10px 100px 10px;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;
-webkit-background-clip: text;
vertical-align: middle; color: transparent;


}

.box:hover .overlay {
               opacity:0.5;}

.plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}


.interestMatch {
    color: #e67e22;
    background-color: #f8dbc1;
    padding: 5px;
    border-radius: 5px;
}

a.interestMatch:hover, a.interestMatch:focus {
    border-color: #e67e22;
}

.hospitalMatch {
    color: #9b59b6;
    background-color: #e5d4ec;
    padding: 5px;
    border-radius: 5px;
}

a.hospitalMatch:hover, a.hospitalMatch:focus {
    border-color: #9b59b6;
}

.interestMatchKey {
    background-color: #D6E9C6;
    color: #3C763D;
}

.hospitalMatchKey {
    background-color: #BCE8F1;
    color: #34495E;
}

.profileKey {
    margin-top:20px;
}

.profileKey span {
    margin-right: 10px;
}

.userProfile {
    height: 250px;
    width: 200px;
}

.userProfile img {
    height: 200px;
    width: 200px;
}

.friend-caption {
    position: absolute;
    bottom: 0;
}

.friend-caption p {
    margin-bottom: 0;
}
