<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">XtheHall</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/profile_settings">Profile Settings</a></li>
            <li><a href="#/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid" id="chatArea">
  <div class="row" ng-repeat="message in messages">
    <div class="col-xs-8 col-md-6" ng-if="message.incoming">
      <div class="message incoming">
        <p class="user">{{message.user}}</p>
        <p class="text">{{message.text}}</p>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-4 col-md-6 col-md-offset-6" ng-if="!message.incoming">
      <div class="message outgoing">
        <p>{{message.text}}</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row message-box">
      <div class="col-xs-10">
        <input type="text" class="form-control" id="message" placeholder="Type your message here...">
      </div>
      <div class="col-xs-1">
        <button type="button" class="btn btn-default">
          <i class="fa fa-microphone"></i>
        </button>
      </div>
      <div class="col-xs-1">
        <button type="button" class="btn btn-default" ng-click="sendMessage()">
          <i class="fa fa-send"></i>
        </button>
      </div>
    </div>
  </div>
</footer>