<div class="container">
    <h1 class="text-center">Find Friends, Create a Chat</h1>
    <hr>

    <div class="row">
        <div class="col-md-1"/>
        <div class="col-md-10 text-center">
            Here is a list of active XtheHall users; click on the users you would like to invite into a chat!
            <br>
            <br>
            <select id="chatUsers" class="form-control multiselect multiselect-primary" multiple="multiple" style="width: 80%">
                <option value="{{profile.id}}" ng-if="(profile.id != user.id) && (profile.attributes.nickname != 'XtheHallUser')" ng-repeat="profile in visibleProfiles">{{profile.attributes.nickname}}</option>
            </select>
            <button ng-click="createNewChatRoom()" class="btn btn-primary">Create Room</button>
        </div>
    </div>

    <p style="margin-top:20px;">
        <span class="interestMatchKey">&nbsp; Interest Match &nbsp;</span>
        <span class="hospitalMatchKey">&nbsp; Same Hospital &nbsp;</span>
    </p>

    <div class="row">
        <div ng-if="(profile.id != user.id) && (profile.attributes.nickname != 'XtheHallUser')" ng-repeat="profile in visibleProfiles" class="col-xs-2 userProfile">
            <div ng-click="addToChatList(profile.attributes.nickname, profile.id);" ng-class="applyProfileClasses(profile)" class="box thumbnail text-center user-image" style="background:url({{profile.attributes.image._url}}) no-repeat; background-size: 150px 150px;"  data-popover="" data-html=true data-content="{{profile.attributes.hover_text}}">
                <div class="overlay">Connect</div>
            </div>
            <div>
                <div class="text-center" style="margin-top:15px; overflow-x:auto; white-space: nowrap;">{{profile.attributes.nickname}}</div>
            </div>
        </div>
    </div>
</div>
