<style>

    .thumbnail {
    margin-bottom:30px;
}

#box    {  width:300px;
           height:200px;
          
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          background:url(http://placehold.it/200x200);
  background-size:cover;

overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}



</style>


<nav class="navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">XtheHall</span>
        </div>
    </div>
</nav>



<div class="container">
  <h1>Find Friends</h1>

  <hr>

  <p> <span style="background-color: #D6E9C6; color: #3C763D;"> &nbsp Special Match &nbsp </span>   <span style="background-color: #BCE8F1; color: #34495E;"> &nbsp Nearby Patient &nbsp </span> </p>


  <br>


  <div class="row">
    <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive" style="border-color: #D6E9C6; border-width: 4px;">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive" style="border-color: #BCE8F1; border-width: 4px;">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
     <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
    <div class="col-xs-3">
        <a href="#">
             <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
        </a>
    </div>
  </div>

  
  <hr>
    <h2 class="text-center"><a href="#">Blah</a></h2>
  <hr>


  <div  class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Thank You! </strong> Your information has been saved.
  </div>


    <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Thank You! </strong> Your information has been saved.
  </div>



    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Thank You! </strong> Your information has been saved.
  </div>


<style type="text/css">
.thumb {position:relative;width:200px;height:20px;}
.thumb:hover .overlay {opacity:0.5;}
.overlay {position:absolute;top:0;left:0;width:200px;height:200px;background:#fff;opacity:0;}
</style>
<div class="thumb">
    <div class="overlay"></div>
    <img src="http://placehold.it/200x200" />
</div>


</div>


<div id="box">
  
  <div id="overlay">
    <span id="plus">+</span>
  </div>
  
</div>