<div class="container">
    <h4 class="page-header">Find Friends</h4>
    <div class="row">
        <div class="col-md-10">
            <span>Click on the users you would like to chat with!</span>
            <select id="chatUsers" class="form-control multiselect multiselect-primary" multiple="multiple" style="width: 80%">
                <option value="{{profile.id}}" ng-if="(profile.id != user.id) && (profile.attributes.nickname != 'XtheHallUser')" ng-repeat="profile in visibleProfiles">{{profile.attributes.nickname}}</option>
            </select>
            <button ng-click="createNewChatRoom()" class="btn btn-primary">Create Room</button>
        </div>
    </div>

    <p class="profileKey">
        <span class="interestMatch">&nbsp; Interest Match &nbsp;</span>
        <span class="hospitalMatch">&nbsp; Same Hospital &nbsp;</span>
    </p>

    <div class="row">
        <div ng-if="(profile.id != user.id) && (profile.attributes.nickname != 'XtheHallUser')" ng-repeat="profile in visibleProfiles" class="col-xs-2 col-md-3">
            <a  ng-click="addToChatList(profile.id);" href="" class="thumbnail userProfile" ng-class="applyProfileClasses(profile)" data-popover="" data-html=true data-content="{{profile.attributes.hover_text}}">
                <img src="{{profile.attributes.image._url}}">
                <div class="caption">
                    <p>{{profile.attributes.nickname}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
