<div class="container">
    <h4 class="page-header">Trending Topics</h4>
    <ul id="main-topic-list">
        <li ng-repeat="topic in trendingTopics">{{topic}}</li>
    </ul>
    <h4 class="page-header">Chats</h4>
    <div id="main-chat" class="row">
        <div class="col">
            <a href="#/find" class="thumbnail col-xs-6 col-md-3">
                <img src="../images/Plus.png" />
            </a>
        </div>
        <div class="col chats" ng-repeat="conversation in conversationPreviews | orderBy: '-timestamp'">
            <a href="#/chat/{{conversation.id}}" class="thumbnail col-xs-6 col-md-3">
                <div class="message-title">
                    <span class="text-center">{{conversation.friendString}}</span>
                </div>
                <div class="message-preview">
                    <span>{{conversation.messagePreview}}</span>
                </div>
                <div class="chat-id-timestamp">{{conversation.timestamp}}</div>
                <div class="chat-id-pic" style="background-image: url('{{conversation.picUrl}}');"></div>
            </a>
        </div>
    </div>
</div>


  <hr>
    <h2 class="text-center"><a href="#/find">Find Friends</a></h2>
  <hr>



<style>
    #main-chat a.thumbnail {
        margin: 15px;
    }

</style>
